<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lucian.com.toney_ble"
    android:versionCode="1"
    android:versionName="1.0"
    >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        >
        <!--android:uiOptions="splitActionBarWhenNarrow"actionbar换到底部-->

        <activity
            android:name=".BlueWelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <!--android:uiOptions="splitActionBarWhenNarrow"-->
            <!--设置启动Activity-->

        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".QppActivity"
            android:windowSoftInputMode = "stateHidden"
            android:label="@string/title_activity_qpp"
            android:screenOrientation = "portrait" >
            <!--
            activity主窗口与软键盘的交互模式，可以用来避免输入法面板遮挡问题，Android1.5后的一个新特性
			            各值的含义：
			【A】stateUnspecified：软键盘的状态并没有指定，系统将选择一个合适的状态或依赖于主题的设置
			【B】stateUnchanged：当这个activity出现时，软键盘将一直保持在上一个activity里的状态，无论是隐藏还是显示
			【C】stateHidden：用户选择activity时，软键盘总是被隐藏
			【D】stateAlwaysHidden：当该Activity主窗口获取焦点时，软键盘也总是被隐藏的
			【E】stateVisible：软键盘通常是可见的
			【F】stateAlwaysVisible：用户选择activity时，软键盘总是显示的状态
			【G】adjustUnspecified：默认设置，通常由系统自行决定是隐藏还是显示
			【H】adjustResize：该Activity总是调整屏幕的大小以便留出软键盘的空间
			【I】adjustPan：当前窗口的内容将自动移动以便当前焦点从不被键盘覆盖和用户能总是看到输入内容的部分
             -->
        </activity>

    </application>

</manifest>